<?xml version="1.0"?>
<config>
    <modules>
        <Chapagain_GoogleTagManager>
            <version>0.1.3</version>
        </Chapagain_GoogleTagManager>
    </modules>
    <frontend>
        <routers>
            <googletagmanager>
                <use>standard</use>
                <args>
                    <module>Chapagain_GoogleTagManager</module>
                    <frontName>googletagmanager</frontName>
                </args>
            </googletagmanager>
        </routers>
        <layout>
            <updates>
                <googletagmanager>
                    <file>chapagain/googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<googletagmanageradmin>
				<use>admin</use>
				<args>
					<module>Chapagain_GoogleTagManager</module>
					<frontName>googletagmanageradmin</frontName>
				</args>
			</googletagmanageradmin>
        </routers>
    </admin>   
    <global>			
        <models>
            <googletagmanager>
                <class>Chapagain_GoogleTagManager_Model</class>                
            </googletagmanager>            
        </models>        
        <blocks>
            <googletagmanager>
                <class>Chapagain_GoogleTagManager_Block</class>
            </googletagmanager>				
        </blocks>
        <helpers>
            <googletagmanager>
                <class>Chapagain_GoogleTagManager_Helper</class>
            </googletagmanager>
        </helpers>            
    </global>    
</config>
